
body {
    background-color: white;
    margin: 0px;
    font-family: helvetica, arial, sans-serif;
}




/* ┏┳┓┏━╸┏┓╻╻ ╻   ┏━┓╺┳╸╻ ╻╻  ┏━╸ */
/* ┃┃┃┣╸ ┃┗┫┃ ┃   ┗━┓ ┃ ┗┳┛┃  ┣╸  */
/* ╹ ╹┗━╸╹ ╹┗━┛   ┗━┛ ╹  ╹ ┗━╸┗━╸ */

/* container for the header menu */
div#header_menu {
    display: block;
    position: absolute;
    font-family: helvetica, arial, sans-serif;
}

/* header menu nav */
div#header_menu>nav {
    width: 100%;
    margin: -10 auto;
    background-color: lightblue;
    color: white;
    position: fixed;
    top: 0px;
}

div#header_menu>nav>ul {
    list-style-type: none;
    margin-bottom: 0px;
}

div#header_menu>nav>ul::after {
    display: table;
    clear: both;
}

div#header_menu>nav>ul>li {
    float: left;
    width: 24%;
    text-align: center;
    position: relative;
}


/* ⡷⢾ ⣏⡉ ⡷⣸ ⡇⢸   ⡇ ⢹⠁ ⣏⡉ ⡷⢾ ⢎⡑ */
/* ⠇⠸ ⠧⠤ ⠇⠹ ⠣⠜   ⠇ ⠸  ⠧⠤ ⠇⠸ ⠢⠜ */

div#header_menu>nav>ul>li.menu_item {
    color: black;
    height: 30px;

    padding-top: 10px;
    margin-top: -10px; /* so the menu isn't shifted down */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div#header_menu>nav>ul>li.menu_item:hover {
    background-color: steelblue;
}

div#header_menu>nav>ul>li.menu_item>a {
    font-size: 20px;
    text-decoration: none;
    padding: 4px;
    color: inherit;
    background-color: steelblue;
    padding: 0px;
}


/* ⣎⣱ ⣏⡱ ⣏⡱ ⣏⡉ ⣎⣱ ⣏⡱ ⡇ ⡷⣸ ⡎⠑   ⡷⢾ ⣏⡉ ⡷⣸ ⡇⢸ */
/* ⠇⠸ ⠇  ⠇  ⠧⠤ ⠇⠸ ⠇⠱ ⠇ ⠇⠹ ⠣⠝   ⠇⠸ ⠧⠤ ⠇⠹ ⠣⠜ */

li#appearing_menu {
    color: darkred;
    height: 30px;
}

li#appearing_menu:hover {
    color: darkorange;
}

/* link (and text) in appearing menu */
li#appearing_menu>a {
    display: block; 
    text-decoration: none;
    font-size: 20px;

    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 7px;
    color: black;

    background-color: lightblue;
    /* height: 40px; */
}

/* appearing menu title (link) when hover */
li#appearing_menu>a:hover {
    background-color: steelblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* after the appearing menu title */
li#appearing_menu>a::after {
    color: inherit;
    content: "";
}


/* appearing menu list container (ul) */
li#appearing_menu>ul {
    margin-top: -10px;
    padding: 10px;
}

/* appearing menu items (li) */
li#appearing_menu>ul>li {
    display: none; /* IMPORTANT! they appear only whe li#appearing_menu:hover */
    text-align: left;
    /* margin-left: 10px; */
    padding: 3%;
    position: relative;
    background-color: lightblue;
    border: solid 1px black;
}

/* appearing menu items when hover */
li#appearing_menu>ul>li:hover {
    background-color: steelblue;
}

/* make appearing menu items to appear on menu hover */
/* note that the hover is on the li#appearing_menu, not the items themselves */
li#appearing_menu:hover>ul>li {
    display: block;
}

/* links in appearing menu items */
li#appearing_menu>ul>li>a {
    color: darkred;
    text-decoration: none;
}

/* vertical spacing */
li#appearing_menu>ul>br {
    height: 0px;
}



/* ╺┳╸┏━╸╻ ╻╺┳╸   ┏━┓╺┳╸╻ ╻╻  ┏━╸ */
/*  ┃ ┣╸ ┏╋┛ ┃    ┗━┓ ┃ ┗┳┛┃  ┣╸  */
/*  ╹ ┗━╸╹ ╹ ╹    ┗━┛ ╹  ╹ ┗━╸┗━╸ */

div.text_container {
    color: black;
    margin-left: 5%;
}





